@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{ margin: 0; padding: 0; box-sizing: border-box; 
	font-family: 'Poppins', sans-serif;} 



.div11{

	margin-left: 1vw;
	margin-right: 1vw;
	
	margin-bottom: 10vh;
	height: 20vh;
	weidth:100vw;	
}





footer {

    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    margin-bottom: 5px;

    
}

div[class*=box] {
 margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  width: 200px; 
}

.box-1 { background-color: white;
opacity: 0.6;
margin-left: 1vw;
margin-right: 1vw;
 }

.btn {

  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.btn-one {
	font-size: 4em;
  color: black;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 0.8; 
  transform: scale(1, 1); 
}
.btn-one::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
   
  transform: scale(0.1, 1);
}

.container {
        
        margin: 0 auto;
        padding: 20px;
        display: flex;
  justify-content: center;
  align-items: center;

    }